* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*  All font in website (save for footer & Header "SEO" text) are white.
    Broadly added color (white) to body tag.  
*/
body {
    background-color: #d9dcd6;
    color: #ffffff;
}

/*  Div's were renamed to follow semantic headings, class .header functioned same as header tag. 
    Class removed and all previous formatting moved to header.
    Also font color (white) removed.
*/

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

/*  Changed class '.header h1' tag to 'header h1' tag, formatting remains the same
*/  
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*  Div's were renamed to follow semantic headings, formatting to class ".header" unnecessary. 
    Class removed and all previous formatting moved to 'header nav'.
*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*  Class '.seo' only applies to one aspect of website.
    Changed to an ID due to lone specificity
*/
#seo{
    color: #d9dcd6;
}

/*  Class '.hero' only applies to one image of website
    Changed to an ID due to lone specificity
*/
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*  Div's were renamed to follow semantic headings, formatting to class ".content" unnecessary. 
    Class removed and all previous formatting moved to 'section'.
    Also font color (white) removed.
*/

section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*  IMG Formatting found in 3x classes within section 'article' redundant
    Classes removed and formatting consolidated under 'article img' tag
    see REMOVED below
    '.search-engine-optimization img'
    '.online-reputation-management img'
    '.social-media-marketing img'
*/
article img {
    max-height: 200px;

}

/*  Formatting found in 3x classes within section 'article' redundant
    Classes removed and formatting consolidated under 'article h2' tag
    see REMOVED below
    '.search-engine-optimization h2'
    '.online-reputation-management h2'
    '.social-media-marketing h2'
*/
article h2 {
    margin-bottom: 20px;
    font-size:36px;
}

/*  Div's were renamed to follow semantic headings, formatting to class '.benefits' unecessary. 
    Class removed and all previous formatting moved to 'aside'.
*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;

}

/*  Formatting found in 3x classes within section 'aside' redundant
    Classes removed and formatting consolidated under 'aside h3' tag
    see REMOVED below
    '.benefit-lead h3'
    '.benefit-brand h3'
    '.benefit-cost h3'
*/
aside h3 {
    text-align: center;
    margin-bottom: 10px;
}

/*  Formatting found in 3x classes within section 'aside' redundant
    Classes removed and formatting consolidated under 'aside div' tag
    see REMOVED below
    '.benefit-lead'
    '.benefit-brand'
    '.benefit-cost'
*/
aside div {
    margin-bottom: 32px;
}


/*  IMG Formatting found in 3x classes within section 'aside' redundant
    Classes removed and formatting consolidated under 'aside img' tag
    see REMOVED below
    '.benefit-lead img'
    '.benefit-brand img'
    '.benefit-cost img'
*/
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*  Formatting found in 3x classes within section 'article" redundant
    Classes removed and formating conslidated under '.block' class
    see REMOVED below
    '.search-engine-optimization'
    '.online-reputation-management'
    '.social-media-marketing'
*/

.block {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}

/*  Added color black formatting into footer tag
    Another option would be to establish an ID with this specific formatting since this section is the only text with black text.
*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #000000;
}

/* Changed header h2 to h4 since h2 was already utilized previously in another section
*/
footer h4 {
    font-size: 20px;
}